.header__inner {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 0;
}
.header__title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 300;
}

